<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VenmoAssesment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D2DDAF02447B57E0007A99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D2DDB062447B5800007A99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D2DDB112447B5810007A99E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
